# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgres://postgres:postgres@db.localtest.me:5432/main"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/onboarding
CLERK_SECRET_KEY=sk_test_
SIGNING_SECRET=whsec_

# Redis
KV_URL="rediss://"
KV_REST_API_READ_ONLY_TOKEN="readonly_example_token"
KV_REST_API_URL="http://localhost:8079"
KV_REST_API_TOKEN="example_token"

# Trigger.dev
TRIGGER_SECRET_KEY=tr_dev_Xt9m1Orx1HVP9YIqP26p

# Uploadthing
UPLOADTHING_TOKEN=""

# GoCardless
GOCARDLESS_SECRET_ID=""
GOCARDLESS_SECRET_KEY=""